nav {
    background-color: #4bcf5d;
    color: rgba(102, 25, 15, 0.616);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    
  }
  .top-links ul,
  .bottom-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .top-links ul li,
  .bottom-links ul li {
    margin-right: 20px;
  }

  .bottom-links {
    background-color: #3dc581;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }