.choose {
    color: rgb(21, 12, 103);
    text-align: center;
}
.da-paragraph {
    text-align: left;
}
.data-analytics {
            text-align: center;
            border: 2px solid #000; /* Defines the border */
            padding: 10px; /* Adds space between the text and the border */
            background-color: #dd9292; /* Optional background color */
            width:100%; /* Adjusts the box size to fit the text */
            margin: 20px; /* Optional spacing around the box */
            border-radius: 5px; /* Optional rounded corners */
}

.front-end {
    text-align: center;
            border: 2px solid #000; /* Defines the border */
            padding: 10px; /* Adds space between the text and the border */
            background-color: #abd95b; /* Optional background color */
            width: 100%; /* Adjusts the box size to fit the text */
            margin: 20px; /* Optional spacing around the box */
            border-radius: 5px; /* Optional rounded corners */
}
.full-stack {
    text-align: center;
            border: 2px solid #000; /* Defines the border */
            padding: 10px; /* Adds space between the text and the border */
            background-color: #9ed8c0; /* Optional background color */
            width: 100%; /* Adjusts the box size to fit the text */
            margin: 20px; /* Optional spacing around the box */
            border-radius: 5px; /* Optional rounded corners */
}.cybersecurity {text-align: center;
    border: 2px solid #000; /* Defines the border */
    padding: 10px; /* Adds space between the text and the border */
    background-color: #92a5d7; /* Optional background color */
    width: 100%; /* Adjusts the box size to fit the text */
    margin: 20px; /* Optional spacing around the box */
    border-radius: 5px; /* Optional rounded corners */
}
.java {
    text-align: center;
    border: 2px solid #000; /* Defines the border */
    padding: 10px; /* Adds space between the text and the border */
    background-color: #c683b7; /* Optional background color */
    width: 100%; /* Adjusts the box size to fit the text */
    margin: 20px; /* Optional spacing around the box */
    border-radius: 5px; /* Optional rounded corners */
}
.python {
    text-align: center;
    border: 2px solid #000; /* Defines the border */
    padding: 10px; /* Adds space between the text and the border */
    background-color: #d4d4cb; /* Optional background color */
    width: 100%; /* Adjusts the box size to fit the text */
    margin: 20px; /* Optional spacing around the box */
    border-radius: 5px; /* Optional rounded corners */
}
.css-html-js {
    text-align: center;
    border: 2px solid #000; /* Defines the border */
    padding: 10px; /* Adds space between the text and the border */
    background-color: #4a98c8; /* Optional background color */
    width: 100%; /* Adjusts the box size to fit the text */
    margin: 20px; /* Optional spacing around the box */
    border-radius: 5px; /* Optional rounded corners */
}
